@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

.slider {
    -webkit-appearance: none;
    width: 18em;
    height: 10px;
    border-radius: 5px;
    background-image: linear-gradient(135deg, #8dff47 0%,#fffa6c 50%, #ff4343 100%);
    border: 1px solid rgb(0, 0, 0);
    outline: none;
    opacity: 0.7;
    margin-top: 2em;
  }

  input {
      border: 1px solid rgb(0, 0, 0);
  }

.slider:hover {
    opacity: 1;
}
  
.motiv {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.buttonCalculator {
    /* display: none; */
    font-family: 'Righteous', arial, sans-serif;
    font-size: large;
    background-color: #ffcb05;
    width: 8em;
    height: 2em;
    border-radius: 2em;
    text-shadow: 2px 2px 2px #b5760a;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2em;
    margin-right: 2em;

    /* background-image: url("../images/balance.png");
    background-size: contain;
    background-repeat: no-repeat; */
    /* margin-top: 60%; */
}

.calculator-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 17em;
    width: 14em;
    font-family: 'Righteous', arial, sans-serif;
    font-size: 1.4em;
    line-height: 30px;
    margin-top: 1.5em;
}

.userWeight {
    font-family: 'Righteous', arial, sans-serif;
    font-size: large;
    margin-bottom: 1.2em;
    margin-top: 1em;
    width: 10em;
    height: 2em;
    border-radius: 0.5em;
}

.goal {
    margin-top: 1em;
    font-size: 1.5em;
    width: 350px;
    height: 50px;
    border-radius: 20px 100px / 120px;
    color: #ffcb05;
    background-color: #fffefe;
    text-shadow: 3px 3px 3px rgb(20, 49, 92);
}

@media screen and (max-width: 1050px) {
    .balance-image {
        display: none;
    }
}

@media screen and (min-width: 750px) {

}

@media screen and (min-width: 1050px) {
    .calculator {
        display: flex;
        height: 100%;
        align-items: center;
    }

    .calculator-form {
        margin: 20px;
        padding: 15px 30px;
        border-radius: 10px;
        border-top: 5px solid #45D3D3;
        box-shadow: 0 8px 17px -8px #A3A5AE;
        background-color: #FFF;
        width: 400px;
        height: 600px;
    }

    .calculator-form:hover {
        transition: 1s;
		box-shadow: 0 8px 16px 5px rgba(0, 0, 0, 0.3);
    }

    .balance-image {
        width: 8em;
        height: 8em
    }

    p.balance-image {
        width: 12em;
        margin: 0;
        font-style: italic;
        font-size: large;
    }

    .buttonCalculator{
        display: none;
    }
}