.motivationBar {
    background-color: brown;
}

.balance {
    background-image: url("../images/balance.png");
    position: relative;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 28em;
}