.footer{
    width: 100%;
    /* Il faudra peut-etre mettre le body en position : relative */
    position: absolute; 
    bottom: 0;
    background-color: rgb(228, 228, 228);
    color: #231f20;
    font-size: 0.8em;
    white-space: nowrap;
}

.logosLink ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.logosLink img{
    width: 3em;
    height: 3em;
    border-radius: 20%;
}

@media screen and (min-width: 590px){    

    .footer{
        font-size: 1.5em;
    }

    .logosLink img{
        width: 3em;
        height: 3em;
    }

    .logosLink ul{
        justify-content: space-evenly
    }
}