.active{
    color: #ffcb05 !important;
}
/* Navbar for Mobile-first */
@media screen and (max-width: 1049px) {

/* Place the navbar stick at the bottom of the page and Icons center */
    .navbar-mobile {
        display: flex;
        justify-content: space-around;
        background-color: #00c2cb;
        overflow: hidden;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 1;
    }
    
/* Style the icons */
    .navbar-mobile a {
        float: left;
        display: block;
        color: #0c383a;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 30px;
        padding: 5px 5px 5px 5px;
        width: 80%;
        text-shadow: 10px 6px 2px #1c72a3;
    }
/* Size of Icons */
    .icons{
        width: 50px;
    };
/* Change the color of icon on hover */
    .navbar-mobile a:hover {
        background-color: #ffcb05;
        color: #231f20;
    }
    
/* Add a background color to the active link */
    div .navbar-mobile a.active {
        background-color: #00c2cb;
        color: #ffcb05;
    }
}

/* Navbar for desktop */
@media screen and (min-width: 1049px) {
    .navbar-mobile{
        display: none;
    }
}
