.RecipeCard button {
  font-family: 'Sniglet', cursive;
  background-color: #ffcb05;
  color: #1c72a3;
  border: 1px solid #1c72a3;
  border-radius: 5px;
  padding: 5px;
  margin: 0 .5em .5em;
  font-size: 1em;
}

.RecipeCard button:hover {
  background-color: #1c72a3;
  color: #ffcb05;
}

@media (min-width: 1050px) {
  .RecipeCard button {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .RecipeCard button {
    font-size: 0.7em;
  }
  .RecipeCard {
    margin: auto;

    margin-left: 0px;
    margin-right: 150px;
    margin-top: 40px;
    margin-bottom: 0px;
  }
}
