/* .ingredientSearch {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    justify-content: center;
    margin: auto;
}

input {
    margin-right: 20px;
    border-radius: 6px;
    border: 1px solid #ddd;
    padding: 4px;
}

.submit {
    width: 100px;
    background-color: #00c2cb;
    margin-top: 15px;
} */