.App {
  text-align: center;
}

body {
  margin-bottom: 2.75em;
}

@media screen and (min-width: 1050px) {
  .container-body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
    align-content: center;
    margin: 0;
  }
  body {
    margin-bottom: 0;
  }
}