.searchMainDisplay {
  width: 85%;
  margin: auto;
  border: 1px inset #1c72a3;
}

.searchMainDisplay .divLabel {
  border: 1px solid #1c72a3;
  margin: auto;
  background-color: #072b3f;
  opacity: .75;
  font-family: 'Indie Flower', cursive;
  font-size: .8rem;
  color: #1c72a3;
}

.searchMainDisplay .divLabel:hover {
  opacity: 1;
  cursor: pointer;
}

.searchMainDisplay .selected {
  border: 1px solid #1c72a3;
  background-color: #ffcb05;
}

.searchMainDisplay .divImage {
  border-top: 1px solid #1c72a3;
  margin: auto;
}

.searchMainDisplay img {
  width: 90%;
  height: 15em;
  margin-top: .5em;
  margin-bottom: -.5em;
  border-radius: .5em;
  border: 1px inset #072b3f;
}