.leftFlex, .rightFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.leftFlex {
}

.rightFlex {
}

.selected {
  
}

.miniRecipes {
  max-width: 10em;
}

.leftFlex img,.rightFlex img {
  width: 100%;
}