.recipeInfos {
  display: flex;
  margin: auto;
  justify-content: space-around;
  font-family: 'Sniglet', cursive;
}

.recipeInfos .infos {
  width: 50%;
  text-align: center;
  padding: .5em;
  border-top: 1px solid #1c72a3;
}

.recipeInfos .infos:first-of-type {
  border-right: 1px solid #1c72a3;
}

.recipeInfos aside p, 
.recipeInfos aside h4 {
  line-height: 0em;
}

.recipeInfos aside h4 {
  font-weight: 600;
  color: #1c72a3;
}