.resultFormRange .rangeForm .formSlider {
  -webkit-appearance: none;
  appearance: none;
  height: 2em;
  border-radius: 5px;
  background-color: #ffcb05;
  border: 2px inset #1c72a3;
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
  width: 75%;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=94158), pointer
}

.resultFormRange .rangeForm .formSlider:hover {
  opacity: 1;
}

.resultFormRange .formSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.8em;
  height: 3em;
  border-radius: 25%;
  background: #00c2cb;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=93244), grab
}

.resultFormRange .formSlider::-moz-range-thumb {
  width: 1.8em;
  height: 3em;
  border-radius: 25%;
  background: #00c2cb;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=93244), grab
}

.resultFormRange p {
  border: 5px double #1c72a3;
  border-radius: 25%;
  padding: .5em;
  width: 35%;
  margin: auto;
  margin-bottom: 1em;
  background-color: #00c2cb;
  font-family: 'Sniglet', cursive;
  font-size: 1.2rem;
  font-weight: 500;
  color: #0e4c70;
}

@media screen and (min-width: 950px) {
  .resultFormRange p {
    width: 60%;
    max-width: 12em;
  }
  .resultFormRange .rangeForm .formSlider {
    background-color: #ecdb96;
  }
  .resultFormRange .rangeForm .formSlider:hover {
    background-color: #ffcb05;
  }
  .resultFormRange {
    height: 12em;
  }
  .resultFormRange p {
    margin-top: .8em;
    margin-bottom: 1.2em;
  }
}